---
layout: default
title: Congratulations you are the Overseer
---
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 id="Contents">Contents...</h2>
<p class="list-1">&bull;&nbsp; <a href="#YourFirstVault">2.1 Your First Vault</a></p>
<p class="list-1">&bull;&nbsp; <a href="#Atabout18population">2.2 At about 18 population</a></p>
<h2 id="YourFirstVault">2.1 - Your First Vault</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="firstvault.jpg" alt="firstvault" %}</p>
<p class="empty">&nbsp;</p>
<p>For your first vault you should keep it simple. Just a few single wide rooms until you have the population to make other rooms. The reason is, the more rooms you have the more energy you need. The more people you have the more food and water you need. If you expand too fast then you will not have power for the rooms. If your Diner or Water Treatment Plant shut down because of lack of power then you will not have food for the dwellers.</p>
<p class="empty">&nbsp;</p>
<p>Keep it simple at the start.</p>
<p class="empty">&nbsp;</p>
<h2 id="Atabout18population">2.2 - At about 18 population</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="atabout18forpopulation.jpg" alt="atabout18forpopulation" %}</p>
<p class="empty">&nbsp;</p>
<p>When you have about 18 for your population try to just keep food, water and energy for your Vault. Don't try to expand too much or spend caps on too many rooms. If you don't have enough people for a single room put one person to keep the rats out. Empty rooms sometimes attract radroaches easier. If you can maintain a double wide room that requires 4 people, with 2 or 3 because of their High Special keep it that way.</p>
<p class="empty">&nbsp;</p>
<p>Your goal at about 18 is to have a few children to increase the population because you can't have a Radio Station yet.</p>
</div>
