---
layout: default
title: Pets
---
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<h2 id="Contents">Contents...</h2>
<p class="list-1">&bull;&nbsp; <a href="#AssignaPet">3.1 Assign a Pet</a></p>
<h2 id="AssignaPet">3.1 - Assign a Pet</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="assignpet.jpg" alt="assignpet" %}</p>
<p class="empty">&nbsp;</p>
<p>To assign a pet click the small box with the icon of a dog. That indicates this dweller does not have a pet.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="petmenu.jpg" alt="petmenu" %}</p>
<p class="empty">&nbsp;</p>
<p>A list of available pets will be presented and you will see the benifit the pet provides to the dweller. Obviously you should assign something that benifits the dweller, but if you don't have anything that does just pick one. They are cute.</p>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="petchosen.jpg" alt="petchosen" %}</p>
<p class="empty">&nbsp;</p>
<p>I chose the dog for Albert because it reduces Training Time. Which for now I assume means training in a room like the Weight Room.</p>
</div>
