---
layout: default
title: Storage Room
---
<p class="empty">&nbsp;</p>
<div>
<!-- Needed, sets the top of the page just before the H1 Title -->
<hr>
<h2 id="TripleWideRoom">Triple Wide Room</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/t3images/tripplestorageroom.jpg" alt="tripplestorageroom" %}</p>
<p class="empty">&nbsp;</p>
<p><table></p>
<p>  <thead></p>
<p>    <tr></p>
<p>      <th>Tier</th></p>
<p>      <th>Name</th></p>
<p>      <th>Cost</th></p>
<p>      <th>Upgrade Cost</th></p>
<p>      <th>Storage</th></p>
<p>      <th>Destruction Value</th></p>
<p>    </tr></p>
<p>  </thead></p>
<p>  <tbody></p>
<p>    <tr></p>
<p>      <td>1</td></p>
<p>      <td>Storage Room</td></p>
<p>      <td> </td></p>
<p>      <td>1500</td></p>
<p>      <td>30</td></p>
<p>      <td>xxx</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>2</td></p>
<p>      <td>Depot</td></p>
<p>      <td> </td></p>
<p>      <td>4500</td></p>
<p>      <td>45</td></p>
<p>      <td>xxx</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>3</td></p>
<p>      <td>Warehouse</td></p>
<p>      <td> </td></p>
<p>      <td> </td></p>
<p>      <td>60</td></p>
<p>      <td>xxx</td></p>
<p>    </tr></p>
<p>  </tbody></p>
<p></table></p>
<p class="empty">&nbsp;</p>
<h2 id="DoubleWideRoom">Double Wide Room</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/t3images/doublewarehouse.jpg" alt="doublewarehouse" %}</p>
<p class="empty">&nbsp;</p>
<p><table></p>
<p>  <thead></p>
<p>    <tr></p>
<p>      <th>Tier</th></p>
<p>      <th>Name</th></p>
<p>      <th>Cost</th></p>
<p>      <th>Upgrade Cost</th></p>
<p>      <th>Storage</th></p>
<p>      <th>Destruction Value</th></p>
<p>    </tr></p>
<p>  </thead></p>
<p>  <tbody></p>
<p>    <tr></p>
<p>      <td>1</td></p>
<p>      <td>Storage Room</td></p>
<p>      <td> </td></p>
<p>      <td>1125</td></p>
<p>      <td>20</td></p>
<p>      <td>120</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>2</td></p>
<p>      <td>Depot</td></p>
<p>      <td> </td></p>
<p>      <td>3375</td></p>
<p>      <td>30</td></p>
<p>      <td>225</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>3</td></p>
<p>      <td>Warehouse</td></p>
<p>      <td> </td></p>
<p>      <td> </td></p>
<p>      <td>40</td></p>
<p>      <td>675</td></p>
<p>    </tr></p>
<p>  </tbody></p>
<p></table></p>
<p class="empty">&nbsp;</p>
<h2 id="SingleWideRoom">Single Wide Room</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/t1images/singlestorageroom.jpg" alt="singlestorageroom" %}</p>
<p class="empty">&nbsp;</p>
<p>Plus 75 More Caps then previous</p>
<p class="empty">&nbsp;</p>
<p><table></p>
<p>  <thead></p>
<p>    <tr></p>
<p>      <th>Tier</th></p>
<p>      <th>Name</th></p>
<p>      <th>Cost</th></p>
<p>      <th>Upgrade Cost</th></p>
<p>      <th>Storage</th></p>
<p>      <th>Destruction Value</th></p>
<p>    </tr></p>
<p>  </thead></p>
<p>  <tbody></p>
<p>    <tr></p>
<p>      <td>1</td></p>
<p>      <td>Storage Room</td></p>
<p>      <td>300</td></p>
<p>      <td>750</td></p>
<p>      <td>10</td></p>
<p>      <td>60</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>2</td></p>
<p>      <td>Depot</td></p>
<p>      <td> </td></p>
<p>      <td>2250</td></p>
<p>      <td>15</td></p>
<p>      <td>150</td></p>
<p>    </tr></p>
<p>    <tr></p>
<p>      <td>3</td></p>
<p>      <td>Warehouse</td></p>
<p>      <td> </td></p>
<p>      <td> </td></p>
<p>      <td>20</td></p>
<p>      <td>xxx</td></p>
<p>    </tr></p>
<p>  </tbody></p>
<p></table></p>
<p class="empty">&nbsp;</p>
<h2 id="DwellersRequiredToBuild">Dwellers Required To Build</h2>
<p class="empty">&nbsp;</p>
<p>{% include image.html file="img/reqstorageroom.jpg" alt="reqstorageroom" %}</p>
</div>
