<section class="grid-header">
    <div class="gridhead1"></div>
    <div class="gridhead2">
        {% include image-header.html max-width="100%" file="img/wrye_monkey_96.png"
        alt="Wrye Avatar" caption="" %}
    </div>
    <div class="gridhead3">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </div>
    <div class="gridhead4"></div>
    <div class="gridhead5">
        <a href="https://sharlikran.github.io/" class="btn">Sharlikran</a>
        <a href="https://tes5edit.github.io/" class="btn">xEdit</a>
        <a href="https://wrye-code-collection.github.io/" class="btn">Wrye-Code-Collection</a>
        <a href="https://tes5edit.github.io/docs/" class="btn">xEdit documentation</a>
    </div>
    <div class="gridhead6">
        <a href="https://www.afkmods.com/index.php?/topic/5578-wrye-bash-wiki-discussion-thread/" class="btn">Wiki Discussion Thread</a>
    </div>
</section>
