<section class="grid-header">
    <div class="gridhead1"></div>
    <div class="gridhead2">
        {% include image-header.html max-width="100%" file="img/VaultBoyIcon_LtGreen_130.png"
        alt="Wrye Avatar" caption="" %}
    </div>
    <div class="gridhead3">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </div>
    <div class="gridhead4"></div>
    <div class="gridhead5">
        <a href="https://sharlikran.github.io/" class="btn">Sharlikran</a>
        <a href="https://tes5edit.github.io/" class="btn">xEdit</a>
        <a href="https://wrye-code-collection.github.io/" class="btn">Wrye-Code-Collection</a>
        <a href="https://tes5edit.github.io/docs/" class="btn">xEdit documentation</a>
    </div>
    <div class="gridhead6">
        <a href="http://sharlikran.github.io/fsdoc/" class="btn">Fallout shelter Wiki</a>
    </div>
</section>
