<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="no-js">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <section class="grid-header">
        <div class="gridhead1"></div>
        <div class="gridhead2">
            {% include image-header.html max-width="100%" file="VaultBoyIcon_LtGreen_130.png" alt="VaultBoyIcon" %}
        </div>
        <div class="gridhead3">
            <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
            <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        </div>
        <div class="gridhead4"></div>
        <div class="gridhead5">
            <a href="https://sharlikran.github.io/" class="btn">Sharlikran</a>
            <a href="https://tes5edit.github.io/" class="btn">xEdit</a>
            <a href="https://wrye-code-collection.github.io/" class="btn">Wrye-Code-Collection</a>
            <a href="https://wrye-code-collection.github.io/wcc-wiki/" class="btn">Wrye-Code-Collection Wiki</a>
            <a href="https://tes5edit.github.io/docs/" class="btn">xEdit documentation</a>
        </div>
        <div class="gridhead6">
            <a href="http://sharlikran.github.io/fsdoc/" class="btn">Home</a>
        </div>
    </section>
    <section class="main-content">
        <h1 class="header1">Fallout shelter Wiki</h1>
        <h1 class="grhead1">For Beginners</h1>
        <div id="tableOfContents" class="grid-toc">
            <div class="toc1">
                <h2 class="grhead2"><a href="Beginners.html">Your First Vault</a></h2>
                <h2 class="grhead2"><a href="Pets.html">Pets</a></h2>
                <h2 class="grhead2"><a href="Raiders.html">Raiders</a></h2>
                <h1 class="grhead1">Guides</h1>
                <h2 class="grhead2"><a href="MysteriousStranger.html">Mysterious Stranger</a></h2>
                <h2 class="grhead2"><a href="RandomEncounter.html">Random Encounters</a></h2>
                <h1 class="grhead1">Rooms</h1>
                <h2 class="grhead2"><a href="Armory.html">Armory</a></h2>
                <h2 class="grhead2"><a href="AthleticsRoom.html">Athletics Room</a></h2>
                <h2 class="grhead2"><a href="Barbershop.html">Barbershop</a></h2>
                <h2 class="grhead2"><a href="Classroom.html">Classroom</a></h2>
                <h2 class="grhead2"><a href="Diner.html">Diner</a></h2>
                <h2 class="grhead2"><a href="Elevator.html">Elevator</a></h2>
                <h2 class="grhead2"><a href="FitnessRoom.html">Fitness Room</a></h2>
                <h2 class="grhead2"><a href="GameRoom.html">Game Room</a></h2>
                <h2 class="grhead2"><a href="Garden.html">Garden</a></h2>
                <h2 class="grhead2"><a href="LivingQuarters.html">Living Quarters</a></h2>
                <h2 class="grhead2"><a href="Lounge.html">Lounge</a></h2>
                <h2 class="grhead2"><a href="Medbay.html">Medbay</a></h2>
                <h2 class="grhead2"><a href="NuclearReactor.html">Nuclear Reactor</a></h2>
                <h2 class="grhead2"><a href="NukaColaBottler.html">Nuka-Cola Bottler</a></h2>
                <h2 class="grhead2"><a href="OutfitWorkshop.html">Outfit Workshop</a></h2>
                <h2 class="grhead2"><a href="OverseersOffice.html">Overseers Office</a></h2>
                <h2 class="grhead2"><a href="PowerGenerator.html">Power Generator</a></h2>
            </div>
            <div class="toc2">
                <h2 class="grhead2"><a href="RadioStudio.html">Radio Studio</a></h2>
                <h2 class="grhead2"><a href="ScienceLab.html">Science Lab</a></h2>
                <h2 class="grhead2"><a href="StorageRoom.html">Storage Room</a></h2>
                <h2 class="grhead2"><a href="ThemeWorkshop.html">Theme Workshop</a></h2>
                <h2 class="grhead2"><a href="VaultDoor.html">Vault Door</a></h2>
                <h2 class="grhead2"><a href="WaterPurification.html">Water Purification</a></h2>
                <h2 class="grhead2"><a href="WaterTreatment.html">Water Treatment</a></h2>
                <h2 class="grhead2"><a href="WeaponWorkshop.html">Weapon Workshop</a></h2>
                <h2 class="grhead2"><a href="WeightRoom.html">Weight Room</a></h2>
                <h1 class="grhead1">Pets</h1>
                <h2 class="grhead2"><a href="pets-common.html">Common Pets</a></h2>
                <h2 class="grhead2"><a href="pets-rare.html">Rare Pets</a></h2>
                <h2 class="grhead2"><a href="pets-legendary.html">Legendary Pets</a></h2>
                <h1 class="grhead1">Outfits</h1>
                <h2 class="grhead2"><a href="outfits-common.html">Common Outfits</a></h2>
                <h2 class="grhead2"><a href="outfits-rare.html">Rare Outfits</a></h2>
                <h2 class="grhead2"><a href="outfits-legendary.html">Legendary Outfits</a></h2>
                <h1 class="grhead1">Weapons</h1>
                <h2 class="grhead2"><a href="weapons-common.html">Common Weapons</a></h2>
                <h2 class="grhead2"><a href="weapons-rare.html">Rare Weapons</a></h2>
                <h2 class="grhead2"><a href="weapons-legendary.html">Legendary Weapons</a></h2>
                <h1 class="grhead1">Historical Data</h1>
                <h2 class="grhead2"><a href="Vaultopolis.html">Journey to the Center of Vaultopolis</a></h2>
            </div>
        </div>
        <!-- end of default -->
        {{ content }}
        <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        </footer>
    </section>
</body>
</html>
